body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  .LinkBox{
      margin-left: 25%;
      box-sizing: content-box;
      width: 50%;
      margin-top: 3%;
  }
  .checked {
    color: orange;
    
}
 .rating{
  margin-left: 33%;
   margin-top: 3%;
 }
 .block{
   width:70%;

 }
 .show{
   margin-left: 70%;
 }
 .Submit{
   width:40%;
   margin-top: 3%;
 }
 .textArea{
   width:50%;
 }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .heading {
      text-align: center;
      text-shadow: #111;
      color: aqua;
  }
.stars div a {
      background: transparent url(sprite_rate.png) 0 0 no-repeat; 
       display: inline-block;  height: 23px;  width: 12px;  
       text-indent: -999em;  overflow: hidden;
      }
.stars a.rating-right {  background-position: 0 -23px;  padding-right: 6px;}
.stars a.rating-over { background-position: 0 -46px; }
.stars a.rating-over.rating-right { background-position: 0 -69px; }
.stars a.rating { background-position: 0 -92px; }
.stars a.rating.rating-right { background-position: 0 -115px; }
